<div [ngStyle]="{'color':textColor, 'background-color': backColor}">
    Learning Angular 8 - this is a example of ngStyle
</div>

<hr>
<h2 style="background-color: rgb(251, 219, 224);">Example of - Ng Class</h2>

<ul *ngFor="let person of people">
    
    <li [ngClass]="{
'text-success': person.country ==='UK',
'text-primary': person.country ==='USA',
'text-danger': person.country ==='HK'
    }">
    {{person.name}} ({{person.country}})
</li>
</ul>

<p>Normal para</p>
<p appCustomDirectives>Custom para</p>

<hr>
<h4 style="background-color: rgb(168, 233, 168);">Example of - </h4>

<!-- create on input and show values given in input, after enter  -->
<!-- <div style="margin-left:300px;">
    <input type="text" name="" id="" #uusername (keyup.enter)="show(uusername.value)" >
</div>
<div>
    {{uname}}
</div> -->

<!-- create on input and show values given in input, after click button  -->

<div style="margin-left:300px;">
    <input type="text" name="" id="" #uusername>
</div>
<button (click)="show(uusername.value)">Show</button>
<div>
    {{uname}}
</div>
 