<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-left rounded shadow py-5">
      <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm">
        <div ngModelGroup="userDetails" #details="ngModelGroup">
          <div class="form-group">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name" required
              [(ngModel)]="username">
            <h6 *ngIf="username">Username Is : {{username}} </h6>
          </div>
          <div class="form-group">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" #email="ngModel" email id="email" name="email"
              placeholder="Enter Email" required ngModel>
            <small class="text-danger" *ngIf="!email.valid && email.touched">Enter Valid Email</small>
            <br>
          </div>
          <small class="text-danger" *ngIf="!details.valid && details.touched">Please Enter Valid Details</small>
        </div>
        <div class="form-group">
          <label for="course">Select Course</label>
          <select class="form-control" name="course" id="course" [ngModel]="defaultValue">
            <option value="Angular">Angular</option>
            <option value="HTML">HTML</option>
            <option value="JavaScript">JavaScript</option>
          </select>
        </div>
        <div class="form-group">
          <div *ngFor="let gender of genders" class="custom-control custom-radio">
            <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" [ngModel]="defaultGender"
              class="custom-control-input">
            <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
          </div>
        </div>
        <div class="form-group">
          <input type="date" name="" id="">
        </div>
        <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
        <div class="row justify-content-center mt-2" *ngIf="submitted">
          <div class="col-md-6 rounded shadow py-4">
            <h2>Form Data</h2>
            <p>Username: <strong>{{employee.username}}</strong></p>
            <p>Email: <strong> {{employee.email}}</strong></p>
            <p>Course: <strong>{{employee.course}} </strong></p>
            <p>Gender: <strong> {{employee.gender}} </strong></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>