<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="demo">
    Welcome to {{ title }}!
  </h1>
 
  <app-server></app-server>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <hr>
   <button type="button" class="btn btn-success">Success</button> <!--button from bootstrap -->
  <h5> <app-servers></app-servers></h5>
  <app-warning-alert></app-warning-alert>
  <app-data-binding></app-data-binding>
  <hr>
  <h4><app-demo-directives></app-demo-directives></h4>
  <hr>
  
 <h3> <app-ng-switch> </app-ng-switch></h3>
 <h3><app-structural-directive-assignment></app-structural-directive-assignment></h3>
 <hr>
</div>
<h3><app-attributes></app-attributes></h3>
<div style="text-align:center">
</div>
<app-demo-directives [myinputMsg]="uname"></app-demo-directives>
<router-outlet></router-outlet>