<!--The content below is only a placeholder and can be replaced.-->

<!-- <div style="text-align:center">
  <h1 class="demo">
    Welcome to {{ title }}!
  </h1>
  <app-server></app-server>
  <hr>
  <button type="button" class="btn btn-success">Success</button>
   button from bootstrap
  <h5>
    <app-servers></app-servers>
  </h5>
  <app-warning-alert></app-warning-alert>
  <app-data-binding></app-data-binding>
  <hr>
  <h4>
    <app-demo-directives></app-demo-directives>
  </h4>
  <hr>
  <h3>
    <app-ng-switch> </app-ng-switch>
  </h3>
  <h3>
    <app-structural-directive-assignment></app-structural-directive-assignment>
  </h3>
  <hr>
  <app-select-my-pictures></app-select-my-pictures>
  <hr>
</div>
<h3>
  <app-attributes></app-attributes>
</h3>
<div style="text-align:center">
</div>
<app-demo [myInputMsg]="myName" ></app-demo>
/
 </div>
<ul *ngFor="let f of foods">
  <li>
    {{f}} {{parentComponent}}
  </li>
</ul>

<app-demo (foodevent)="getDataFromChild ($event)"></app-demo>

<app-parent-component></app-parent-component>

<h3>
  <div style="text-align:center">
    <select (change)="uid = sid.value" #sid>
      <option selected disabled>No value selected</option>
      <option [value]="id" *ngFor="let id of [1,2,3,4]">
        {{id}}
      </option>
    </select>
  </div>
</h3>

<div class="row" style="text-align:center;">
  <div class="col-md-12">
    <input type="text" placeholder="enter value" (blur)="handleData($event)">
    <p>Product Name:<input type="text" placeholder="Enter Product Name" [(ngModel)]="name"></p>
    <p>Product Price:<input type="text" placeholder="Enter Product Price" [(ngModel)]="price"></p>
    <button class="btn btn-primary" (click)="updateProduct()">Update Product</button>

    <hr>
    <app-hooks *ngIf="showIs" [userId]="uid" [product]="product" [parentData]="data">
      <h2 #child>This is child content coming from Parent component</h2>
    </app-hooks>
    <button class="btn btn-danger" (click)="destroy()">Destroy Hooks</button>
  </div>
</div> 
 <hr>
<h4>
  <div class="row" style="text-align:center;">
    <app-ten-lecture-assignment></app-ten-lecture-assignment>
  </div>
</h4>
<hr>
<app-template-form01></app-template-form01>-->

 <!-- <app-reactive-form></app-reactive-form> 
<hr>
<app-service1></app-service1>
<app-service2></app-service2>
<hr> -->
<div style="text-align:center;">
  <!-- <app-comp1> </app-comp1>
  <hr>
<app-comp2></app-comp2>
<hr>
<app-comp3></app-comp3>
<hr>
<app-comp4></app-comp4>
<hr>
<app-pipes-demo></app-pipes-demo>
<hr>
<app-filter-pipe></app-filter-pipe> -->
<header>
  <nav>
    <ul class="nav nav-tabs">
      <!-- <li class="nav-item"> <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="./">Login</a> </li> -->
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="home/">Home</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="aboutus/">About Us</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="product/">Product</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="contactus/">Contact US</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="post/">Posts</a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="orders/">Orders</a> </li>
    </ul>
  </nav>
</header>
</div>
<hr>
<hr>
<router-outlet></router-outlet>

