
 <input type="text" placeholder="enter value" #name> <br> <br>
 <button type="button" class="btn btn-success" (click)="addData(name.value)">Submit</button> <br> <br>

 <div class="row" style="text-align:center;">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let emptarr of emptyArray ; let i=index">
            <td>{{emptarr.names}}</td>
            <td><button type="button" class="btn btn-danger" (click)="removeData(i)" >Remove</button></td>
        </tr>
    </tbody>
 </table>
 </div>